.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    gap: 40px;
}

.box {
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
}